/*.bd{
    background-image: url("../assets/productbg.jpg");
    background-repeat: no-repeat;
   
    background-position: left bottom, right top;
}*/

.bbb{
    background-color: #f5f7fa;
    width: 300px;
    margin-bottom: 2%;
    border-radius: 5%;
    height: 450px;
    background-image: url("../assets/productbg.jpg");
    background-repeat: no-repeat;
   
    background-position: left bottom, right top;

  }
 
  .card{
    display:'flex';
    flex-direction: column;
   
  }
  